@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
}

.app-container {
  background-color: #3aafa9;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .main-inner {
  display: block;
  min-height: 75vh;
  height: inherit !important;
}

nav ul li a {
  text-decoration: none;
  color: #17242a !important;
  font-weight: 500;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
nav ul li a:hover {
  color: #2b7a77 !important;
}
.login-form {
  width: 400px;
  max-width: 100%;
}

.homepage {
  min-height: 100vh;
}

span.brand {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: bold;
}

ul.dropdown-menu {
  background-color: #17242a;
}

ul.dropdown-menu li span,
ul.dropdown-menu li a {
  color: #feff;
}

ul.dropdown-menu li span:hover,
ul.dropdown-menu li a:hover {
  background-color: inherit;
  color: #3aafa9;
}

.dish {
  width: 300px;
  max-width: 100%;
}

.login-container {
  max-width: 100%;
  width: 400px;
}

#emailInput,
#passwordInput {
  background-color: #def1f0 !important;
}
.login-container button {
  background-color: #17242a;
  color: #def2f1;
  font-size: 22px;
  font-weight: 500;
  align-self: center;
}
.login-container button:hover {
  color: #3aafa9;
}

.spinner-container {
  height: 20px;
  position: fixed;
  bottom: 20px;
  left: 50%;
}

.search-form {
  width: 600px;
  max-width: 100%;
  color: rgb(2, 46, 2);
}

h4.search-message {
  width: 100%;
  font-style: italic;
  font-weight: 600;
}
.searchResults {
  border-top: 2px solid #17242a;
  /* background-color: #2b7a77; */
}
section.hero-banner {
  padding: 120px 0;
  background: url("./images/banner-img.jpg") rgba(0, 0, 0, 0.6);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  color: #fff;
  margin-bottom: 140px !important;
}
section.hero-banner h1 {
  font-size: 50px;
}

section.hero-banner button:hover {
  color: #17242a;
}

.menu-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  min-height: inherit;
  background-color: #2b7a77;
}

.card {
  display: block;
  width: 450px;
  max-width: 100%;
  background-color: #def1f0 !important;
}

.recipe-top h1 {
  background-color: #17242a;
}

.card-title {
  font-style: italic;
  font-weight: 500;
}

.card-body {
  flex: 1;
}

img.card-img {
  height: 100px;
  width: 100px;
}

.info-container-bottom ul {
  width: 450px;
  max-width: 100%;
}
.summary {
  flex: 1;
}
.summary p {
  text-align: justify;
}

.recipe-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.recipe-img-container img {
  width: 350px;
  max-height: 350px;
}
.info-container-bottom {
  width: 450px;
  max-width: 100%;
  overflow: hidden;
  height: 1%;
}

.details-top {
  background-color: #17242a;
}
.ingredients-container {
  width: 450px;
  max-width: 100%;
}
.instructions-inner {
  max-width: 100%;
}

.instructions h4,
.ingredients-container h4 {
  background-color: #17242a;
}
.instructions ol {
  padding: 0;
}
.instructions ol li {
  padding: 10px 0;
  text-align: justify;
  line-height: 1.6rem;
  word-spacing: -0.5px;
}
footer {
  border-top: 1px solid #17242a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  background-color: #3aafa9;
}

.Toastify__toast-container {
  max-width: 85% !important;
}
